<div class="wrap-1-content fullpage-fade-in">
  <section class="landing-work wrap-1 sf-1">
    <h2 class="vis-hide">Patrik Lau</h2>
    <p class="display-text center-text">Interface designer who's working towards coding great digital experiences.</p>
  </section>
  <section class="landing-work_list">
    <h2 class="vis-hide">Work</h2>
    <div class="sf-2 wrap-1">
      <h2 class="vis-hide landing-work-title">Work I've done</h2>
        <div class="display">
          <div class="landing-work_item col-6">
            <div class="landing-work_content">
              <div class="landing-work_box landing-work_box-portfolio"></div>
              <img src="images/portfolio/portfolio_preview.png" alt="portfolio preview" width="480" height="360" class="landing-work_preview-img img-lazy">
            </div>
            <div class="landing-work_meta">
              <span class="landing-work_item-title landing-work_item-title-portfolio">portfolio</span>
              <span class="landing-work_item-desc">development</span>
            </div>
            <a class="overlay" href="/work/portfolio.html"></a>
          </div>
          <div class="landing-work_item col-6">
            <div class="landing-work_content">
              <div class="landing-work_box landing-work_box-twitch"></div>
              <img src="images/twitch/twitch_preview@2x.png" alt="portfolio preview" width="462" height="324" class="img-lazy landing-work_preview-img " style="max-width:150px;">
            </div>
            <div class="landing-work_meta">
              <span class="landing-work_item-title landing-work_item-title-twitch">twitch</span>
              <span class="landing-work_item-desc">redesign</span>
            </div>
            <a class="overlay" href="/work/twitch.html"></a>
          </div>
          <div class="landing-work_item col-6">
            <div class="landing-work_content">
              <div class="landing-work_box landing-work_box-visier"></div>
              <img src="images/visier/visier_preview@2x.png" alt="portfolio preview" width="462" height="324" class="landing-work_preview-img img-lazy" style="max-width:250px">
            </div>
            <div class="landing-work_meta">
              <span class="landing-work_item-title landing-work_item-title-visier">visier</span>
              <span class="landing-work_item-desc">work experience</span>
            </div>
            <a class="overlay" href="/work/visier.html"></a>
          </div>
          <div class="landing-work_item col-6">
            <div class="landing-work_content">
              <div class="landing-work_box landing-work_box-yvr"></div>
              <img src="images/yvr/yvr_preview@2x.png" alt="portfolio preview" width="462" height="324" class="img-lazy landing-work_preview-img " style="max-width:150px;">
            </div>
            <div class="landing-work_meta">
              <span class="landing-work_item-title landing-work_item-title-yvr">yvr</span>
              <span class="landing-work_item-desc">redesign and consult</span>
            </div>
            <a class="overlay" href="/work/yvr.html"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="page-cover cover-lift"></div>
