<div class="wrap-1-content">
  <section class="landing_intro hero-1 wrap-1 wrap-1--md">

  </section>
  <section class="landing-work">
    <div class="sw-1 wrap-1">
      <h2 class="landing-work-title">Work I've done</h2>
      <div class="display">
        {% for item in landingitems %}
        <div class="work-item">
          <div class="work-item-content">
            <h3>{{ item.title }}</h3>
            <p>
              {{ item.subtitle }}
            </p>
          </div>
        </div>
        {% else  %}
        <li>
          display when broken and not reading items
        </li>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
