/*transition*/
.enter-transition-target{
	transition: opacity 0.35s , transform 0.5s;
  opacity: 0;
  transform: translateY(-25px);
}
.-loaded{
  opacity: 1;
  transform: translateY(0);
}
.-unloading{
	opacity: 0;
	transform: translateY(-25px);
}

// how do make non JS on load transitions
// https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load
/* page fade in */
@keyframes fullPageFadeIn {
    0% {
        opacity: 0;
				transform: translateY(-10px);
    }
    100% {
        opacity: 1;
				transform: translateY(0px);
    }
}

@keyframes expandingBoxTransition {
    0% {
				transform: scale(1);
    }
    100% {
				transform: scale(10);
    }
}

@keyframes fadeImageBox {
    0% {
				opacity: 1;
    }
    100% {
				opacity: 0;
    }
}

/*header sticky*/
.-hidden{
	transform: translateY(-100%);
	// this gets it out of the way and a little extra
}
.-detached{
	transform: translateY(-30%);
	// this gets it out of the way and a little extra
}
