@import "variables";

/*header*/
.header-bar{
	transition-duration: 0.25s;
	transition-property: transform;
	position: fixed;
	background-color: #fff;
	color: black;
	z-index: 10;
	width: 100%;
}

.header-bar.-collapsed{
	height: 3.75rem;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(0,0,0,0.12);
}

.header-bar_content{
	display: flex;
	position: relative;
	align-items: baseline;
}

.header-bar_nav {
	width: 100%;
}

.header-bar_nav-list{
	display: flex;
	position: relative;
	flex-wrap: nowrap;
	justify-content: flex-end;
	margin-bottom: 0;
	padding-left:0;
	list-style: none;
}

.header-bar_nav-list>li{
	display: inline-block;
}

.header-bar_logo{
	position: relative;
	transition-duration: .3s;
	transition-property: opacity, color;
	padding-top: 1.5rem;
	padding-bottom: .75rem;
	white-space: nowrap;
	color: black;
	font-family: "Lato",Arial,sans-serif;
	font-size: 1rem;
	font-weight: 600;
}

.header-bar_logo:hover{
	transition-duration: 0.2s;
	opacity: 0.7;
	color: inherit;
}

.header-bar_nav-item{
	display: block;
	position: relative;
	transition-duration: 0.3s;
	transition-property: opacity, color;
	color: black;
	opacity: 0.5;
	padding: 1.5rem 0.75rem 0.75rem;
	font-weight: 600;
}

.header-bar_nav-item.-active{
	opacity: 0.8;
}

.header-bar_nav-item:hover{
	opacity: 1;
	color: inherit;
}

.header-bar_twitch{
	background-color:purple;
	color: white;
}

/*header sticky*/

.header-bar.-sticky{
	height: 3.75rem;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12);
}

.header-bar.-sticky .header-bar-nav-item{
    padding-top: 1.75rem;
    padding-bottom: 0.9375rem;
}

.header-bar.-sticky .header-bar-logo{
	padding-top: 1.2rem;
	padding-bottom: 0.9375rem;
}
