/*landing-work*/
.landing-work{
	padding-left: 0;
	padding-right: 0;
}

.landing-work-title{
	text-align: center;
}

.display {

}

.display .work-item{
  transition: transform 0.25s, box-shadow 0.125s;
  overflow: hidden;
  position: relative; // needs to stay for aboslute anchor to fit
  display:inline-block;
  background-color: red;
  // background-image:
  height: 14rem;
  width: 100%;
  padding: 1px;
}

.display .work-item:hover {
  transform:scale(1.025, 1.025);
  box-shadow: 0 0 0 0.1rem #000;
}

.display .work-item .work-item-content{
  background-color: black;
}

.display .work-item .work-item-content>h3{
  text-align: center;
}
.display .work-item .work-item-content>p{
  text-align: center;
}

.display .work-item .work-item-content .anchor{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*landing-header*/
.landing-header{
	padding-top: 10rem;
	padding-bottom: 0.5rem;
}

.landing-header-title{
	margin-bottom: 0;
	font-size:3rem;
	font-weight: 700;
	text-align: center;
	line-height: 1.1;
	color: $primary-color;
}

.landing-header-subtitle{
	margin-bottom: 1.5rem;
	font-weight: 400;
	text-align: center;
	line-height: 1;
	color: $primary-color;
}

.landing-header-about{
	margin-left: auto;
	margin-right: auto;
	max-width: 32rem;
	font-size: 1.4rem;
	color: $primary-color;
}
