/* hero across pages*/
.hero-1{
  padding-top: 8rem;
}

.work__hero{
  overflow: hidden;
}

.work_header{
  display: table;
  padding-top: 1.5rem;
}
.work__info {
  display: inline-block;
  margin-bottom: 1.5rem;
}
.work__info-label {
  display: block;
  color: $light-grey;
  font-size: .875rem;
  font-family: Arial,sans-serif;
  font-weight: 600;
}
.work__info-value {
  display: block;
  font-family: Arial,sans-serif;
  font-weight: 600;
}

.work_subtitle{
  line-height: 1.428571429;
  font-size: 1.375rem;
}

/*work pages*/
.work-title{
	margin-top:1.5rem;
	text-align: center;
}

.work-caption{
  text-align: center;
  font-size:1rem;
  font-weight:300;
}

.work-figure{
	padding-left: 1.5rem;
	padding-right:1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	margin-bottom: 1.5rem;
}

.work-figure-full{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: $off-white;
}

.work-img{
	max-width: 100%;
	width: auto;
}

.work-summary{
	color: #10358F;
}

/* figure classes for moblie and desktop displays */
.display-lg{
  display:none;
}
.display-mb{
  display:block;
}

/* specific hero pages */
.work__hero--portfolio{
  background-color: $portfolio-color;
  color: #FFF;
}
.work__hero--yvr{
  background-color: $yvr-color;
  color: #FFF;
}
.work__hero--visier{
  background-color: $visier-color;
  color: #FFF;
}
.work__hero--twitch{
  background-color: $twitch-color;
  color: #FFF;
}

.title-visier{
  color: #FFF;
}

.subtitle-visier{
  color: #FFF;
}

/* page covers for work pages */
.page-cover{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}

.background__portfolio{
  background-color: $portfolio-color;
}
.background__twitch{
  background-color: $twitch-color;
}
.background__visier{
  background-color: $visier-color;
}
.background__yvr{
  background-color: $yvr-color;
}
