{% set title = 'Portfolio 2018 Redesign | getpatlau' %}
{% set description = 'Portfolio for Patrik Lau, UX Designer' %}
{% set page_title = 'Work' %}
{% extends "partials/_layout.njk" %}

{% block content %}
{% import "partials/header.njk" as header %}
{{ header.header('header-bar_portfolio','Work', navItems) }}
<div class="wrap-1-content">
  <section class="work__hero work__hero--portfolio hero-1 ">
    <div class="wrap-1 sf-1">
      <h1 class="work__title">Portfolio Redesign + Development</h1>
      <p class="work__subtitle">Learning Gulp, nunjucks, and SCSS</p>
      <img class="img-responsive" src="/images/portfolio/preview.png" width="622" height="440" class="img-lazy" />
    </div>
  </section>
  <section class="work__content">
    <div class="wrap-1 sf-1 work_header">
      <h2 class="vis-hide">Information</h2>
      <div class="work__info col-12">
        <span class="work__info-label">My Roles</span>
        <span class="work__info-value">Development, Research</span>
      </div>
      <div class="work__info col-4">
        <span class="work__info-label">Company</span>
        <span class="work__info-value">Myself!</span>
      </div>
      <div class="work__info col-8">
        <span class="work__info-label">Time Period</span>
        <span class="work__info-value">June-September 2018</span>
      </div>
    </div>
    <div class="wrap-1 sf-1">

    </div>
  </section>
</div>
<div class="page-cover page-cover__portfolio fullpage-fade-out">

</div>
  {% include "partials/footer.njk" %}
{% endblock %}
