{% set title = 'YVR App Redesign | getpatlau' %}
{% set description = 'Portfolio for Patrik Lau, UX Designer' %}
{% set page_title = 'Work' %}
{% extends "partials/_layout.njk" %}

{% block content %}
{% import "partials/header.njk" as header %}
{{ header.header('header-bar_yvr', navItems) }}
  <div class="wrap-1-content">
    <section class="work__hero work__hero--yvr hero-1 ">
      <div class="wrap-1 sf-1">
        <h1 class="work__title">Twitch Mobile feature design</h1>
        <p class="work__subtitle">Research, and interative design</p>
        <img src="/images/portfolio/preview.png" width="622" height="440" class="img-lazy" />
      </div>
    </section>
    <section class="work__content">
      <div class="wrap-1 sf-1 work_header">
        <h2 class="vis-hide">Information</h2>
        <div class="work__info col-12">
          <span class="work__info-label">My Roles</span>
          <span class="work__info-value">Development, Research</span>
        </div>
        <div class="work__info col-4">
          <span class="work__info-label">Company</span>
          <span class="work__info-value">School</span>
        </div>
        <div class="work__info col-8">
          <span class="work__info-label">Time Period</span>
          <span class="work__info-value">March 2017</span>
        </div>
      </div>
      <div class="wrap-1 sf-1">

      </div>
    </section>
  </div>
  <div class="page-cover page-cover__yvr fullpage-fade-out">

  </div>
  {% include "partials/footer.njk" %}
{% endblock %}
