{% set title = 'Patrik Lau' %}
{% set page_title = 'About' %}
{% set description = 'Portfolio for Patrik Lau, UX Designer' %}
{% extends "partials/_layout.njk" %}

{% block content %}
{% import "partials/header.njk" as header %}
{{ header.header('header-bar_index','', navItems) }}
  <article class="enter-transition-target">
    <header class="about-wrapper sf-1 wrap-1">
      <div class="about-pic-wrapper">
        <div class="about-pic"></div>
      </div>
      <div class="about-header">
        <h1 class="about-header-title">I'm Patrik!<br>Nice to meet you!</h1>
        <p class="about-header-subtitle">I do interaction design and am learning front-end development work.</p>
        <p class="resume-btn"><a href="/docs/ResumeSummer2018.pdf" class="btn">View Resume</a></p>
      </div>
    </header>
    <div class="about-content sf-1 wrap-1">
      <p>something about me LOL</p>
    </div>
  </article>
  {% include "partials/footer.njk" %}
{% endblock %}
