{% set title = 'Patrik Lau' %}
{% set description = 'Portfolio for Patrik Lau, UX Designer' %}
{% extends "partials/_layout.njk" %}

{% block content %}
  {% import "partials/macros.njk" as header %}
  {{ header.header('header-bar_index','Work', navItems) }}
  {% include "partials/landing.njk" %}
  {% include "partials/footer.njk" %}
{% endblock %}
