{% set title = 'Patrik Lau | getpatlau' %}
{% set description = 'Portfolio for Patrik Lau, UX Designer' %}
{% extends "partials/_layout.njk" %}

{% block content %}
  {% include "partials/header.njk" %}
  {% include "partials/landing.njk" %}
  {% include "partials/footer.njk" %}
{% endblock %}
